body{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    /* display: flexbox; */
}
.main-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: darkred;
    color: #fff;
    padding: 15px;
}
.list{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 2%;
}
.ml{
    margin-left: 7%;
    display: flex;
}